:root {
  --CorLC: #ead8ff;
  --CorC: #c4b9f5;
  --CorCM: #9c93c2;
  --CorM: #8a71f7;
  --CorME: #5e5975;
  --CorE: #423675;
}

.categories {
  margin: auto;
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.categories-content {
  width: 400px;
  height: 100vh;
  background-color: var(--CorLC);
}
.content {
  width: 900px;
  height: auto;
  overflow-y: hidden;
}

.content-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  border-radius: 10px;
  padding: 10px;
  list-style-type: none;
  background-color: rgba(245, 245, 245, 0.452);
}

.item-content {
  width: 31%;
  text-align: center;
  height: 300px;

  margin: 10px auto;
  background-color: white;
  transition: 1s;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  cursor: pointer;
}

.item-content p{
  background-color: rgba(245, 245, 245, 0.452);
  padding: 7px;
}

.item-content img {
  width: 100%;
  height: 100%;
  transition: 1s;
}

.list-categories {
  display: flex;
  flex-direction: column;

  list-style: none;
  padding: 10px;
}

.item-categories {
  width: 100%;

  padding: 10px;
  margin: 5px auto;
  font-size: 16pt;
  cursor: pointer;
  color: var(--CorE);

  background-color: var(--CorC);
}

.data-item {
  list-style: none;
  display: none;
}

.data::after {
  content: url(smiley.gif);
}

.item-categories img {
  width: 20px;
}

.data {
  padding: 5px;
  font-size: 12pt;
}

.flex-bar {
  display: flex;
  flex-direction: column;
}

.talk {
  height: 40vh;
  width: 400px;
  background-color: var(--CorE);
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.talk #text-talk {
  font-size: 16pt;
  background-color: #ead8fffc;
  color: var(--CorE);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.talk #talk-cel{
  text-decoration: underline;
  color: var(--CorLC);
  font-size: 14pt;
}
