:root {
  --CorLC: #ead8ff;
  --CorC: #c4b9f5;
  --CorCM: #9c93c2;
  --CorM: #8a71f7;
  --CorME: #5e5975;
  --CorE: #423675;
}

.categories {
  margin: auto;
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.categories-content {
  width: 400px;
  height: 100vh;
  border: 1px solid black;
}
.content {
  width: 900px;
  height: auto;
  overflow-y: hidden;
  border: 1px solid black;
}

.content-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 10px;
  list-style-type: none;
}

.item-content {
  border: 1px solid black;
  width: 31%;
  text-align: center;
  height: 300px;

  margin: 10px auto;
}

.list-categories {
  display: flex;
  flex-direction: column;

  list-style: none;
  padding: 10px;
}

.item-categories {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  margin: 5px auto;
  font-size: 16pt;
}



.data-item {
  list-style: none;
}

.data::after {
  content: url(smiley.gif);
}

.item-categories img {
  width: 20px;
}

.data {
  padding: 5px;
  font-size: 12pt;
}
