@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

:root {
  --CorLC: #ead8ff;
  --CorC: #c4b9f5;
  --CorCM: #9c93c2;
  --CorM: #8a71f7;
  --CorME: #5e5975;
  --CorE: #423675;
}

header {
  background-color: var(--CorM);
  color: white;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.315);
  margin-right: -1px;
}

a {
  text-decoration: none;
  color: white;
}

.botao {
  display: none;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  align-items: center;
}

#nav-list ul {
  display: flex;
  list-style: none;
}

#nav-list li {
  padding: 0px 10px;
}

.menu-mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .item-list {
    display: none;
  }
  .botao {
    display: block;
  }
  .botao button {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
  }
  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .menu-mobile .item-list {
    display: block;
    padding: 10px 0px;
  }
  .open {
    display: block;
  }
}

main a {
  color: var(--CorE);
}

.tittle {
  display: flex;
  margin-top: 20px;
  padding: 10px;
  justify-content: space-around;
}

.tittle h3 {
  border-bottom: 1px solid var(--CorC);
}

.container-canecas {
  display: flex;
  margin-bottom: 100px;
}

.container-canecas img {
  width: 100%;
  height: 100%;
  transition: 1s;
}

.container-canecas img:hover {
  transition: 1s;
  scale: 1.1;
}

.container-canecas .content:hover {
  box-shadow: 0px 0px 15px black;
  transition: 1s;
}

.container-canecas .contentV:hover {
  box-shadow: 0px 0px 15px black;
  transition: 1s;
}

.container-promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  border-right: 10px double var(--CorE);
}

.container-vend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: -17px;
}

.content {
  width: 250px;
  height: 250px;
  overflow: hidden;
  transition: 1s;
}

.contentV {
  width: 250px;
  height: 250px;
  overflow: hidden;
  transition: 1s;
}

.container-promo p {
  margin-top: 10px;
}
.container-vend p {
  margin-top: 10px;
}

.middle-site {
  background-image: url("../Imagens/FundoImage.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;

  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container-middle-site {
  box-shadow: inset 0px 0px 30px rgba(255, 255, 255, 0.752);
}

.middle-site span {
  opacity: 1;
  color: black;
  padding: 10px;
  border-radius: 7px;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 20pt;
  margin-left: 30px;
}

.categorias {
  margin-top: 20px;
  margin-bottom: 20px;
}

.categorias h2 {
  text-align: center;
  padding: 20px;
}

.tittle-categorias {
  display: flex;
  justify-content: space-around;
}

.canecas-categorias {
  display: flex;
  justify-content: space-around;
}

.naruto-canecas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.naruto-canecas img {
  width: 100%;
}

.content-naruto {
  width: 200px;
  height: 200px;
  overflow: hidden;
  transition: 1s;
}

.dbz-canecas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.content-dbz {
  width: 200px;
  height: 200px;
  overflow: hidden;
  transition: 1s;
}

.content-dbz img {
  width: 100%;
}

.one-piece-canecas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.content-onepiece {
  width: 200px;
  height: 200px;
  overflow: hidden;
  transition: 1s;
}

.content-onepiece:hover {
  box-shadow: 0px 0px 15px black;
  transition: 1s;
}
.content-dbz:hover {
  box-shadow: 0px 0px 15px black;
  transition: 1s;
}
.content-naruto:hover {
  box-shadow: 0px 0px 15px black;
  transition: 1s;
}

.content-onepiece img {
  width: 100%;
  transition: 1s;
}

.content-naruto img {
  width: 100%;
  transition: 1s;
}

.content-dbz img {
  width: 100%;
  transition: 1s;
}

.canecas-categorias img:hover {
  transition: 1s;
  scale: 1.1;
}

footer {
  height: 30vh;
  background-color: var(--CorE);
}

.content-add {
  width: 900px;
  margin: auto;
  color: white;
  padding: 20px;

  display: flex;
  justify-content: space-around;
}

.content-add a {
  text-decoration: underline;
  color: var(--CorLC);
}

.contatos-content {
  color: var(--CorLC);
}

.contatos {
  list-style-type: none;
  padding-top: 10px;
}

.company {
  list-style-type: none;
  padding-top: 10px;
}
.my-account {
  list-style-type: none;
  padding-top: 10px;
}

.contatos .contatos-content {
  padding-top: 5px;
}

.company .company-content {
  padding-top: 5px;
}

.my-account .content-account {
  padding-top: 5px;
}
